.el-card__body {
  padding: 0;
}
.add_menu_card {
  height: 100%;
  position: relative;
}
.add_menu_container {
  height: 100%;
}
.add_menu_card .title {
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding: 0 30px;
  border-bottom: 1px solid #d8dce6;
}
.add_menu_card .title .el-col {
  display: flex;
  align-items: center;
}
.add_menu_container .add_menu_card .menu_list_content {
  padding: 40px;
  box-sizing: border-box;
}
.add_menu_container .add_menu_card .menu_list_content .updata_icon {
  background: #ffffff;
  border: 1px solid #d8dce6;
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}
