/*格式化样式 -=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w100 {
  width: 100px;
}

.w110 {
  width: 110px;
}

.w120 {
  width: 120px;
}

.w150 {
  width: 150px;
}

.w200 {
  width: 200px;
}

.w251 {
  width: 251px;
}

.w300 {
  width: 300px;
}

.w360 {
  width: 360px;
}

.w380 {
  width: 380px;
}

.w400 {
  width: 400px !important;
}

.w500 {
  width: 500px;
}

.w600 {
  width: 600px;
}

.w700 {
  width: 700px;
}

.w800 {
  width: 800px;
}

.w1000 {
  width: 1000px;
}

.h70 {
  height: 70px;
}

.w60_B {
  width: 60% !important;
}

.w70_B {
  width: 70% !important;
}

.w80_B {
  width: 80% !important;
}

.w90_B {
  width: 90% !important;
}

/*文字颜色-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-*/

.primary {
  color: #1989fa;
}

.black {
  color: #323232;
}

.color_0 {
  color: #000;
}

/* 字体颜色 */
.success {
  color: #67C23A;
}

.danger {
  color: #F56C6C;
}

.light_gray {
  color: #959a9f;
}

.yellow {
  color: #e6a23c;
}

.red {
  color: red;
}

/*文字大小-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-*/
.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

/* 浮动 -=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=- */
.left {
  float: left;
}

.right {
  float: right;
}

/* 外边距 -=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=- */
/* 上 边距 */
.mar_T_10 {
  margin-top: 10px;
}

.mar_T_20 {
  margin-top: 20px;
}

.mar_T_30 {
  margin-top: 30px;
}

.mar_T_50 {
  margin-top: 50px;
}

/* 下 边距 */
.mar_B_10 {
  margin-bottom: 10px;
}

.mar_B_20 {
  margin-bottom: 20px;
}

.mar_B_30 {
  margin-bottom: 30px;
}

.mar_B_50 {
  margin-bottom: 50px;
}

/* 左 边距 */
.mar_L_10 {
  margin-left: 10px;
}

.mar_L_20 {
  margin-left: 20px;
}

.mar_L_30 {
  margin-left: 30px;
}

.mar_L_50 {
  margin-left: 50px !important;
}

/* 右 边距 */
.mar_R_10 {
  margin-right: 10px;
}

.mar_R_20 {
  margin-right: 20px;
}

.mar_R_30 {
  margin-right: 30px;
}

.mar_R_50 {
  margin-right: 50px;
}

/* 布局 -=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=- */
#subpage {
  width: 100%;
  padding: 140px 20px 20px 20px;
  background: #F0F2F6;
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

#index .el-container {
  min-width: 500px !important;
}

.content {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  border-radius: 4px;
}

.xcx-head {
  width: 100%;
  padding: 0 30px;
  height: 75px;
  box-sizing: border-box;
  color: #000;
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.xcx-head .title {
  font-family: PingFang-SC-Regular;
  font-size: 18px;
  color: #000000;
}

.xcx-head .xcx-add {
  display: block;
  color: #FFFFFF;
  background: #0486fe;
  border-radius: 4px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.xcx-content {
  width: 100%;
  padding: 0 30px 50px 30px;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
}

/*分页 -=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-*/
.paging {
  width: 100%;
  height: 33px;
  padding: 40px 0 0 0;
  margin-left: -10px;
}

.paging .demonstration {
  font-size: 14px;
  color: #606266;
  line-height: 33px;
}

/*导航 -=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-*/
.el-menu .el-submenu__title {
  height: 60px !important;
  line-height: 60px !important;
  font-size: 16px;
}

.el-menu .el-menu .el-submenu .el-submenu__title {
  height: 45px !important;
  line-height: 45px !important;
  padding-left: 50px !important;
  font-size: 14px;
  background: #3D454C !important;
  padding-left: 60px !important;
}

.el-menu .el-menu .el-menu .el-menu-item {
  height: 40px !important;
  line-height: 40px !important;
  background: #4b535a !important;
}

#index .el-menu-item-group>ul {
  padding: 0 !important;
}

.el-menu-item-group .el-menu-item-group__title {
  line-height: 45px !important;
  font-size: 14px !important;
  text-indent: 40px !important;
  background: #96a3ae !important;
  color: #fff;
  font-size: 12px;
}

/*弹层 -=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-*/
.el-dialog__body {
  padding: 30px;
}

.el-dialog__header {
  border-bottom: 1px solid #ebeef5;
}

/* 表格 -=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=- */
.el-table {
  width: 100%;
  text-align: center;
}

.el-table .cell {
  text-align: center;
}

.el-table th>.cell {
  text-align: center;
}

/* 表头 -=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-*/
.el-table thead tr th {
  background-color: #f5f7fa;
}

/* 水平和垂直都居中   flex  -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.dis_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 两边对其 垂直居中 */
.dis_jcsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 垂直居中 */
.flex_align_center {
  display: flex;
  align-items: center;
}

.flex_wrap {
  flex-wrap: wrap;
}

/* 水平排列 并居中 */
.doSonimg_box {
  display: flex;
  justify-content: center;
}

.doSonimg_box .text {
  margin: 0 10px;
  cursor: pointer;
}

/* 垂直排列 并水平居中 */
.dis_fd {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dis_fd .text {
  margin: 5px 0;
  cursor: pointer;
}

.dis_fd_1 {
  display: flex;
  flex-direction: column;
}

.dis_sb {
  justify-content: space-between;
}


/* 图片 -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.img_round {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  vertical-align: middle;
}

/* 正方形图片 */
.img_square {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  vertical-align: middle;
}

/* 长方形图片 */
.img_rectangle {
  width: 160px;
  height: 90px;
  vertical-align: middle;
}

/* 预览 图片 */
.preview_img {
  width: 225px;
  height: 121px;
  margin: 0 10px 10px 0;
}

/* element 上传图片 长方形 */
.updata_img {
  line-height: normal;
}

.updata_img .el-upload.el-upload--picture-card {
  background: #ffffff;
  border: 1px dashed #d8dce6;
  line-height: 148px;
  width: 250px;
  height: 138px;
}

.updata_img .el-upload-list__item-actions,
.updata_img .el-upload-list__item-thumbnail,
.updata_img .el-upload-list__item.is-success,
.updata_img .el-upload-list__item.is-undefined,
.updata_img .el-upload-list__item.is-uploading {
  width: 250px;
  height: 138px;
}

.updata_img .el-progress-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.el-upload--picture-card {
  margin-bottom: 15px;
}

/* 富文本 大小 */
.quill-editor.quill-editor {
  width: 800px;
}

.ql-container.ql-snow {
  width: 800px;
  height: 450px;
}

.ql-toolbar.ql-snow {
  width: 800px;
}

/* 小手 */
.cur_p {
  cursor: pointer;
}

/* 视频大小 */
.video_size {
  width: 400px;
  height: 251px;
  vertical-align: middle;
}

/* 饿了么标签样式 */
.el-tag {
  margin-right: 10px;
}

/* 上传图片 表单 行高  */
.line_H .el-form-item__content {
  line-height: normal !important;
}

/* 行高 */
.ql-toolbar.ql-snow {
  line-height: normal !important;
}

/* 表单的label */
.el-form-item__label {
  color: #303133;
}

/* 富文本中的视频样式 */
.ql-video {
  width: 400px;
  height: 251px;
}
